<div class="wrapper">
    <div class="form-area" >    
    <div class="detail-area">
            <label for ="fname">First Name </label><br/>
            <input type="text"  required
            pattern="[a-zA-Z ]*" [(ngModel)]="form.name" #firstName= "ngModel"> 
        <br> 
            <label for ="lname">Last Name </label><br> 
            <input  [(ngModel)]="form.lastName" #lastName > 
        <br>             
            <label for ="mno">Mobile No </label>  <br>              
            <input [(ngModel)]="form.contactNumber" #mobileNo> 
        <br/>
            <label for ="address">Address </label> <br>  
            <textarea name="address" id="address" cols="10" rows="5" [(ngModel)]="form.address"></textarea> <br/>

            <label for ="table">table input</label>
            <input type="tel" [(ngModel)]="form.tableIterator">
            <button  class="btn btn-primary"type="button" (click)="SaveForm()">
                Show value!
            </button>
    </div>
    </div>
    <div class = "msg-area" id="display" *ngIf="display ">
        <label >
            First Name : {{ form.name }}  <br> 
            Last Name : {{ form.lastName }}   <br>
            Mobile No : {{ form.contactNumber }}<br> 
            Address : {{ form.address }} <br>
            table input:   <app-table [value]="form.tableIterator"  *ngIf="!!form.tableIterator"></app-table>
        </label>
        <button type="button" (click)="refreshPage()">refresh</button>
    </div>
</div>

