<div class="wrapper">
<div class="form-area">    
<div class="detail-area">
    <label for ="fname">First Name </label><br/>
    <input type="text" [(ngModel)] ="first" #firstName> 
    <br> 
    <label for ="lname">Last Name </label><br> 
    <input  ngModel pattern="[a-zA-Z ]*" 
                    [(ngModel)]="last" #lastName > 
                    <br>             
    <label for ="mno">Mobile No </label>  <br>              
    <input  ngModel pattern="[0-9]*" 
                    [(ngModel)]="mobile" #mobileNo> 
<br/>
    <label for ="address">Address </label> <br>  
        <textarea ng-model="myTextarea" 
                    [(ngModel)]="address" #addRess></textarea> <br/>

<br/>
      <button type="button" [disabled]="d"
           (click) = "update(firstName.value,lastName.value,mobileNo.value,addRess.value)" 
      class="btn btn-primary">Show value!</button>
</div>
<div class = "msg-area">
    <label >
    First Name : {{fname}} <br> 
    Last Name : {{lname}}   <br>
    Mobile No : {{mno}}<br>
    Address : {{add}} <br>
    </label>
    </div>
</div>
</div>
